<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>DAM1</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>DAM1</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/agregarcurso">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>


</ion-content>
