ion-header {
  ion-toolbar {
    background-color: #3b5998;
    color: white;
  }
}

ion-content {
  --background:#f4f4f4;

  ion-item {
    margin-bottom: 10px;
    --background: white;
    --border-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  ion-label h2 {
    font-size: 1.2rem;
    color: #333;
  }

  ion-fab-button {
    --background: #3880ff
  }
}